<section id="profile">
  
	<h1>My Profile</h1>
  
	<div id="profile-left-column">
		<%= render :partial => "account/partials/profile_photo_manager" %>
	</div>
  
	<div id="profile-right-column">
		
    <%= render :partial => "account/partials/profile_details_manager" %>
    <%= render :partial => "account/partials/recognition_trainer" %>
		<%= render :partial => "account/partials/password_manager" %>
    
	</div>
</section>
