<h1>Privacy Settings</h1>
<h2>Auto Hide</h2>
<p>Hide yourself automatically in photos you are detected/tagged in.</p>

<%= render :partial => "settings/partials/global_privacy_settings" %>
<%= render :partial => "settings/partials/hide_from_user_privacy_settings" %>
<%= render :partial => "settings/partials/manage_current_settings" %>