<section>
  <section id="profile-photo"></section>
	<section id="profile-photo-options">
		<div class="large-button"><%= link_to "Upload Photo", {} %></div>
		<div class="large-button"><%= link_to "Choose from My Photos", {} %></div>
		<div class="large-button"><%= link_to "Delete", {} %></div>
	</section>
</section>