<h1>Photo Manager</h1>

<section id="photo-manager-left-container">
  
	<%= render :partial => "manage/partials/uploader" %>
  
</section>

<section id="organizer">
	
  <%= render :partial => "manage/partials/recently_uploaded_photos" %>
  <%= render :partial => "manage/partials/recently_detected_faces"%>
	
</section>
